<nav><%= render partial: "layouts/navigation_bar" %></nav>
<body class="bg-gray-50">
  <div>
    <div
      class="relative flex flex-row justify-center overflow-hidden py-6 sm:py-12"
    >
      <%= render partial: "cards/create_prescription" %>
      <%= render partial: "cards/create_certificate" %>
      <%= render partial: "cards/create_patient" %>
  </div>
</body>
