<div class="">
  <!-- Header -->
  <div>
    <h1
      class="w-3/12 font-semibold text-3xl font-roboto hover:text-emerald-600 duration-200 cursor-pointer active"
    >
      Create Prescription
    </h1>
  </div>
</div>
