<body class="bg-sky-100">
  <!-- Page Header -->
  <div
    class="flex justify-self-center bg-white w-full h-100 mt-12 py-4 px-8 rounded-lg border-t-4 border-sky-600 shadow-sm"
  >
    <div>
      <h1 class="font-semibold text-2xl font-raleway">My Patients</h1>
    </div>
  </div>

  <!-- New Patient Form -->

  <div
    class="flex justify-self-center bg-white w-full h-100 my-4 py-4 px-8 rounded-lg shadow-sm font-raleway border-1 border-gray-100"
  >
    <div class="space-y-12">
      <div class="pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">
          Patient Information
        </h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">
          Enter patient's details.
        </p>
      </div>
    </div>
  </div>
</body>
