<div
  class="mb-8 bg-white p-8 rounded-md h-1/4 w-auto shadow-md border-t-8 border-emerald-600/0 transition-all duration-300 hover:border-emerald-600/75 hover:shadow-lg"
>
  <h1 class="font-medium text-2xl font-raleway">Medical Documents</h1>
  <div class="flex mt-8 gap-8 place-content-center">
    <%= render("shared/cards/create_prescription") %> <%=
    render("shared/cards/create_certificate") %> <%=
    render("shared/cards/create_fit_to_work") %>
  </div>
</div>
